body {
    background-color: #2670AF;
    color: white;
    margin: 0;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */   
}

h1 {
    font-family: "Girassol", cursive;
    font-size: 3em;
    font-weight: 300;
    margin: .5em 0 .3em 0;
    text-align: center;
}

.label, .city-label {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 100;
    display: block;
}

.value, .city-value {
    font-size: 1.5em;
    font-weight: 300;
}

.container {
    margin-bottom: .75em;
    text-align: center;
}

#status {
    text-transform: capitalize;
}

#desc {
    margin: auto 0;
}

#city-container, #temp-container {
    margin: 0;
}

@media screen and (max-width: 768px) {
    #desc {
        margin-top: .5em;
    }
    #wind-container {
        margin-bottom: .5em;
    }
}
  